cache/*
log/*
lib/om/
lib/model/om/
lib/form/base/
lib/filter/base/
lib/model/map/

data/
test/
web/uploads/
web/sf*
web/missing_thumb.txt

plugins/sfGuardPlugin/lib/filter/base/
plugins/sebekePlugin/lib/filter/base/
plugins/sfSocialPlugin/lib/filter/base/

plugins/sfGuardPlugin/lib/model/om/
plugins/sebekePlugin/lib/model/om/
plugins/sfSocialPlugin/lib/model/om/*

plugins/sfGuardPlugin/lib/form/base/
plugins/sebekePlugin/lib/form/base/
plugins/sfSocialPlugin/lib/form/base/

plugins/sfSocialPlugin/lib/model/map/
plugins/sfGuardPlugin/lib/model/map/
plugins/sebekePlugin/lib/model/map/
